include /etc/nginx/conf.d/gzip_types;
gzip_types
    application/problem+json;

# ssl_verify_client optional;
# ssl_client_certificate /etc/nginx/certs/api.tripviss.com.client-chain.crt;
# ssl_verify_depth 2;

client_max_body_size 61m;
