*.DS_Store
*.sublime-project
*.sublime-workspace
._*
.dockerignore
.editorconfig
.env
.env.*
.git/
.gitignore
.gitmodules
docker-compose.override.yml
docker-compose.override.yml.*
docker-compose.yml
Dockerfile
Thumbs.db
