*.DS_Store
*.env.dist
*.log
*.md
*.sublime-project
*.sublime-workspace
._*
.dockerignore
.editorconfig
.env
.git/
.gitattributes
.gitignore
.gitmodules
docker-compose.override.*.yml.dist
docker-compose.override.yml
docker-compose.yml
docker-stack.*.yml
docker-stack.yml
Dockerfile
Thumbs.db
