version: '3.2'

services:
  nginx:
    deploy:
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.id == $DOCKER_NODE_ID
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
      restart_policy:
        condition: on-failure
        delay: 5s
        window: 10s
    healthcheck:
      interval: 30s
      retries: 3
      timeout: 30s
    image: quay.io/tripviss/tripviss-nginx-proxy:nginx
    labels:
      - 'com.github.jwilder.nginx_proxy.nginx'
    networks:
      - default
    ports:
      - '80:80'
      - '443:443'

  nginx-gen:
    deploy:
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.id == $DOCKER_NODE_ID
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
      restart_policy:
        condition: on-failure
        delay: 5s
        window: 10s
    environment:
      - MODE=swarm
    healthcheck:
      interval: 30s
      retries: 3
      timeout: 30s
    image: quay.io/tripviss/tripviss-nginx-proxy:nginx-gen
    networks:
      - default

networks:
  default: {}
