version: '3'

services:
  letsencrypt-companion:
    build:
      context: ./docker/letsencrypt-companion
      dockerfile: ./Dockerfile
    deploy:
      placement:
        constraints:
          - node.id == $DOCKER_NODE_ID
      restart_policy:
        condition: any
        delay: 5s
        window: 10s
    environment:
      # - ACME_CA_URI=https://acme-staging.api.letsencrypt.org/directory
      # - DEBUG=true
      - MODE=swarm
    healthcheck:
      interval: 30s
      retries: 3
      timeout: 30s
    image: quay.io/tripviss/tripviss-nginx-proxy:letsencrypt-companion
    networks:
      - default
    restart: always
    volumes:
      - ./certs:/etc/nginx/certs:rw
      - ./vhost.d:/etc/nginx/vhost.d:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - nginx-contents:/usr/share/nginx/html:nocopy

  nginx:
    deploy:
      restart_policy:
        condition: any
        delay: 5s
        window: 10s
    healthcheck:
      interval: 30s
      retries: 3
      timeout: 30s
    image: quay.io/tripviss/tripviss-nginx-proxy:nginx
    labels:
      - 'com.github.jwilder.nginx_proxy.nginx'
    networks:
      - default
    ports:
      - '80:80'
      - '443:443'
    restart: always

  nginx-gen:
    deploy:
      restart_policy:
        condition: any
        delay: 5s
        window: 10s
    environment:
      - MODE=swarm
    healthcheck:
      interval: 30s
      retries: 3
      timeout: 30s
    image: quay.io/tripviss/tripviss-nginx-proxy:nginx-gen
    labels:
      - 'com.github.jrcs.docker_letsencrypt_nginx_proxy_companion.docker_gen'
    networks:
      - default
    restart: always

networks:
  default: {}
